*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.album{
    margin: 10px;
    float: left;
    width: calc(100% / 6 - 20%);
}

.album-image img {
    width: 400px;
}

.album-title .album-number{
    margin: 10px 0;
    font-size: 20px;
}

