body{
    background-color: brown;
}

#container{
    margin: auto;
    width:1000px;
    border: 1px solid black;
    background-color: white;
}

.item{
    width: 300px;
    position: relative;
}

.item > .sale {
    position:absolute
    top:0;
    right: 0;
}